.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.first-day {
  grid-column-start: 3;
}

.calendar-wrapper {
  width: 280px;
}

.weekday {
  background: #eee;
}

h1 {
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
